openapi: 3.0.3
info:
  title: Rucksack API
  version: 1.1.0
  description: |
    REST API für Pfadi St. Justus Flums — Website & Admin Dashboard.

servers:
  - url: https://api.pfadiflums.ch/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: auth
    description: Authentifizierung & Session Management
  - name: users
    description: Benutzerkonten (Admin-Bereich)
  - name: people
    description: Personenprofile (Öffentlich & Intern)
  - name: stufen
    description: Stufen-Informationen (Biber, Wölfe, etc.)
  - name: uebungen
    description: Aktivitäten-Planung
  - name: news
    description: Blog & Aktuelles

paths:
  # ════════════════════════════════════════════════════════════════
  # AUTH
  # ════════════════════════════════════════════════════════════════
  /auth/login:
    post:
      tags: [auth]
      summary: Email / Passwort Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login erfolgreich. Setzt HttpOnly `refresh_token` Cookie.
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/token-exchange:
    post:
      tags: [auth]
      summary: Code gegen JWT tauschen (OAuth2)
      description: Tauscht den kurzlebigen Code aus dem MiData-Redirect gegen ein echtes Token-Paar.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/refresh:
    post:
      tags: [auth]
      summary: Access Token erneuern
      description: Nutzt das Refresh-Token Cookie für eine neue Session (Rotation).
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [auth]
      summary: Logout
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Session beendet, Cookies gelöscht.

  # ════════════════════════════════════════════════════════════════
  # USERS & PEOPLE
  # ════════════════════════════════════════════════════════════════
  /users/me:
    get:
      tags: [users]
      summary: Eigenes Profil abrufen
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'

  /people/public:
    get:
      tags: [people]
      summary: Öffentliche Leiterprofile
      description: Liste aller aktiven Leiter (Safe-Data für Website).
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicPersonResponse'

  /admin/people:
    get:
      tags: [people]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponsePersonResponse'

  # ════════════════════════════════════════════════════════════════
  # STUFEN & UEBUNGEN
  # ════════════════════════════════════════════════════════════════
  /stufen:
    get:
      tags: [stufen]
      summary: Alle aktiven Stufen (Public)
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StufeResponse'

  /stufen/{slug}/uebungen:
    get:
      tags: [uebungen]
      summary: Veröffentlichte Übungen einer Stufe
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: upcoming
          in: query
          schema: { type: boolean, default: true }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponseUebungResponse'

  /admin/uebungen:
    post:
      tags: [uebungen]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUebungRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UebungResponse'

  # ════════════════════════════════════════════════════════════════
  # NEWS
  # ════════════════════════════════════════════════════════════════
  /news:
    get:
      tags: [news]
      summary: Öffentliche News-Beiträge
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponseNewsResponse'

  /news/{slug}:
    get:
      tags: [news]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    PageParam:
      name: page
      in: query
      schema: { type: integer, default: 0 }
    SizeParam:
      name: size
      in: query
      schema: { type: integer, default: 20, maximum: 100 }

  responses:
    Unauthorized:
      description: Nicht authentifiziert
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    Forbidden:
      description: Keine Berechtigung
    NotFound:
      description: Ressource nicht gefunden
    BadRequest:
      description: Validierungsfehler oder falsche Anfrage

  schemas:
    # --- AUTH ---
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    TokenResponse:
      type: object
      properties:
        accessToken: { type: string }
        expiresIn: { type: integer, example: 900 }
        user: { $ref: '#/components/schemas/UserResponse' }

    # --- USERS / PEOPLE ---
    UserResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string }
        roles:
          type: array
          items: { type: string, enum: [ADMIN, LEITER, VIEWER] }

    PublicPersonResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        firstName: { type: string }
        nickname: { type: string }
        profilePictureUrl: { type: string, format: uri }
        bio: { type: object, description: "Tiptap JSON Object" }
        activeStufen:
          type: array
          items: { type: string }

    PersonResponse:
      allOf:
        - $ref: '#/components/schemas/PublicPersonResponse'
        - type: object
          properties:
            lastName: { type: string }
            email: { type: string }
            phone: { type: string }

    # --- CONTENT ---
    StufeResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        color: { type: string }
        description: { type: object }
        nextUebung: { $ref: '#/components/schemas/UebungResponse' }

    UebungResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        date: { type: string, format: date }
        start: { type: string, example: "14:00" }
        end: { type: string, example: "17:00" }
        location: { type: string }
        theme: { type: object }
        toBring: { type: object }
        status: { type: string, enum: [DRAFT, PUBLISHED] }

    CreateUebungRequest:
      type: object
      required: [title, date, stufeId]
      properties:
        title: { type: string }
        date: { type: string, format: date }
        stufeId: { type: string, format: uuid }
        theme: { type: object }
        status: { type: string, default: DRAFT }

    NewsResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        slug: { type: string }
        content: { type: object }
        excerpt: { type: string }
        publishedAt: { type: string, format: date-time }
        authorNickname: { type: string }

    # --- SYSTEM ---
    ApiError:
      type: object
      properties:
        timestamp: { type: string, format: date-time }
        status: { type: integer }
        message: { type: string }
        errors:
          type: object
          additionalProperties: { type: string }

    # --- WRAPPERS ---
    PageResponseUebungResponse:
      type: object
      properties:
        content: { type: array, items: { $ref: '#/components/schemas/UebungResponse' } }
        totalElements: { type: integer }
        totalPages: { type: integer }
        page: { type: integer }

    PageResponseNewsResponse:
      type: object
      properties:
        content: { type: array, items: { $ref: '#/components/schemas/NewsResponse' } }
        totalElements: { type: integer }
        totalPages: { type: integer }

    PageResponsePersonResponse:
      type: object
      properties:
        content: { type: array, items: { $ref: '#/components/schemas/PersonResponse' } }
        totalElements: { type: integer }